.emphasis {
  color: #B93160;
  font-weight: 700;
}

footer {
  color: #B93160;
  font-family:'Times New Roman', Times, serif;
  font-size: 14px;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  padding: 20px;
}

.app-logo {
  display: flex;
  color: #EF946C;
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
}

.app-logo-scribble {
  position: relative;
  top: 70px;
  left: -130px;
}

.app-action-scribble {
  position: relative;
  top: 43px;
  right: -20px;
}

.hero-content-middle-scribble {
 position: absolute;
 left: 520px;
 bottom: 80px;
}

.hero-content-bottom-scribble {
 position: absolute;
 left: 530px;
 bottom: -150px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-header {
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;
  height: 100px;
  margin-bottom: 0px;
}

.app-nav {
  grid-column: -1;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  padding: 0px 20px;
  color: #EF946C;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* flex-grow: 2; */
  margin: auto;
}

.hero-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #f8f8f8;
  height: 100px;
}
.hero-content {
 margin: auto;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #EF946C;
}

h2 {
  margin: 0;
  font-size: 38px;
  font-weight: 500;
  color: #f8f8f8;
}

p {
  color: #f8f8f8;
}
