/* General Styles */
h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #EF946C;
}

h2 {
  margin: 0;
  font-size: 38px;
  font-weight: 500;
  color: #f8f8f8;
}

section {
  /* height: 100vh; */
  margin: 30px;
}

p {
  color: #f8f8f8;
}

a:link, a:visited, a:hover, a:active {
  color: #B93160;
  text-decoration: none;
}

footer {
  font-family:'Figtree', sans-serif;
  font-size: 14px;
  text-align: center;
}

/* Utility styles */
.emphasis {
  color: #B93160;
  font-weight: 700;
}

/* Overall app component */
.app {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Header components */

.nav-bar {
  background-color: #1a1f16;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
  position: sticky;
  z-index: 1;
  top: 0;
  margin: 0;
  border-bottom: 1px black solid;
}

.nav-bar-link {
  color: #EF946C;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

/* Hero components */
.hero {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 100px;
  min-height: 100vh;
  margin: 0;
}

.hero__banner {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
  color: #f8f8f8;
  height: 100px;
  margin: 0 auto;
}

.hero__banner > img {
  width: 84px;
  height: 84px;
}

.hero__banner > span {
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 42pt;
}

.hero__content {
  position: relative;
  margin: 0 auto;
}

.hero__content--middle {
  position: absolute;
  left: 520px;
  bottom: 80px;
}

.hero__content--bottom {
  position: absolute;
  left: 530px;
  top: 150px;
}