.emphasis {
  color: #B93160;
  font-weight: 700;
}

footer {
  color: #B93160;
  font-family:'Figtree', sans-serif;
  font-size: 14px;
  text-align: center;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #B93160;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px;
}

.app-logo {
  display: flex;
  color: #EF946C;
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
}

.app-logo-scribble {
  position: relative;
  top: 85px;
  left: -80px;
}

.app-linkedin-scribble {
  position: relative;
  top: 113px;
  left: 152px;
  width: 39px;
  height: 39px;
}

.app-mail-scribble {
  position: relative;
  top: 63px;
  left: 145px;
  width: 39px;
  height: 39px;
}

.app-icon-arrows {
  position: relative;
  top: 55px;
  left: 80px;
}

.hero-banner > img {
  width: 84px;
  height: 84px;
}

.hero-content-middle-scribble {
 position: absolute;
 left: 520px;
 top: 120px;
}

.hero-content-bottom-scribble {
 position: absolute;
 left: 530px;
 top: 350px;
}

.app-header {
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;
  height: 100px;
  margin-bottom: 80px;
}

.app-nav {
  grid-column: -1;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  padding: 0px 20px;
  color: #EF946C;
  font-size: 28px;
  font-weight: 300;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  min-height: 500px;
  gap: 100px;
}

.hero-banner {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
  color: #f8f8f8;
  height: 100px;
}

.hero-banner > span {
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 42pt;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #EF946C;
}

h2 {
  margin: 0;
  font-size: 38px;
  font-weight: 500;
  color: #f8f8f8;
}

p {
  color: #f8f8f8;
}
